@import "../../assets/scss/mixin";
@import "../../assets/scss/variable";

.topic-modal {

    &__show-modal {
        @include btn-default;
        padding-left: 20px;
        padding-right: 20px;
        transition: all 0.25s;

        &:hover {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            transition: all 0.25s;
        }
    }

    &--text {
        font-weight: bold;
        margin-left: 7px;
    }

    &--title {
        font-size: 20px;
        margin-bottom: 7px;
    }

    &__start {
        @include btn-default;
        padding: 8px 10px;
        margin-top: 10px;
        background-color: $bg;
        transition: all 0.2s;  

        &:hover {
            box-shadow: rgba(21, 131, 89, 0.3) 0px 4px 8px -2px, rgba(7, 82, 47, 0.2) 0px 0px 0px 1px;   
            transition: all 0.2s;  
        }
    }

}

.ant-modal {
    top: 25%; // ptu đã có position: fixed
    left: 8%;
    
    .ant-modal-content {
        padding: 30px 40px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .ant-modal-body {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}